# App
NODE_ENV=development
PORT=3000
APP_NAME=NestJS Prisma Production Starter
APP_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nest_starter?schema=public

# JWT
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=1d

# Seed admin
SEED_ADMIN_NAME=Administrator
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=password123
